# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.claude

# Node dependencies
node_modules

# Yarn
.yarn/install-state.gz

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea
.eslintcache

# Local env files
.env
.env.*
!.env.example

# npm pack
*.tgz

# Temp files
.tmp
.profile
*.0x

# VSCode
.history
.vscode

# Amplify
.amplify-hosting

# Wrangler
.wrangler

# Deploy artifacts
deploy.zip
